.app {
  /* text-align: center; */
  display: flex;
  justify-content: left;
  flex-direction: column;
  padding:2em;
}

.endpoint-input-div{
  display: flex;
  flex-direction: row;
}
#endpoint-input {
  /* text-align: center; */
  width: 20em;
}

#git-repo-avatar{
  margin-right: 2em;
}

#clear-text-button{
  height: 100%;
}

.primary-fields-list{
  flex-direction: column;
}

.endpoint-input-div{
  flex-direction: row;
}
.display-git-info{
display: flex;
  justify-content: left;
}


.top-level-url-fields-div{
   display: flex;
  flex-direction: row;
  justify-content: left;
}